* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
background-color: white;
  font-family: "Arial", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 2%;
  margin-left: 2%;
}

.homeContainer {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.boldText {
  font-weight: bold;
}

.messageContainer {
  display: flex;
 margin: 10px; 
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 20%;
  height: 40%;
  background: #e6e3e3;
  padding: 20px;
  color: black;
  border-radius: 5px;
}

.sidebar p {
  margin: 0;
  font: 40px;
}

.main {
 background: white;
 color:black
}

.numbers {
  font-family: 'Rubik', sans-serif;
  font-size: 70px;
}


